__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
*.log
.vscode/
.idea/
DatasetSatyam_Precomputed1/
DatasetSatyam_Final/
DatasetSatyam/
train_precomputed_run_*/
!training_results_v5/
!Limbus_Crop_Segmentation_System/*.pth
!training_results_v5/checkpoints/*.pth
